.navbar-default{
	background-color: $light-color;
	border-color: $light-color;
    margin-bottom: 0 !important;
    border: none !important;
}

.navbar-default .navbar-nav > .active > a{
    background-color: $secondary-color !important;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    @extend .transition-normal;
    background-color: $secondary-color !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    @extend .transition-normal;
    background-color: $accent-color;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li {

    margin: 0 !important;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    @extend .transition-normal;
    background-color: $main-color;

    margin: 0px;
    padding: 15px;
    margin-right: $dist-md;



}


.navbar{
	position:relative;

}